<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Add Creative Writing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
<section class="admin-form">
    <h2>Add Creative Writing</h2>
    <form method="POST" enctype="multipart/form-data">
        <label>Title:</label>
        <input type="text" name="title" required>

        <label>Description:</label>
        <textarea name="description"></textarea>

        <label>Link (optional):</label>
        <input type="url" name="link">

        <label>Image (optional):</label>
        <input type="file" name="image">

        <button type="submit">Add</button>
    </form>
    <a href="{{ url_for('admin_creative_writing') }}">Back</a>
</section>
</body>
</html>
