<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - hero </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
<section class="admin-form">
    <h2>Edit Hero Section</h2>
    <form method="POST" enctype="multipart/form-data">
        <label>Name:</label>
        <input type="text" name="name" value="{{ hero.name }}" required>

        <label>Intro Text:</label>
        <textarea name="intro" rows="3">{{ hero.intro }}</textarea>

        <label>Profile Picture:</label>
        {% if hero.image %}
            <img src="{{ url_for('static', filename=hero.image) }}" alt="Current Image" class="preview-img">
        {% endif %}
        <input type="file" name="image">

        <button type="submit">Save Changes</button>
    </form>
    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
</section>
</body>
</html>
