{% extends "base.html" %}

{% block title %}Contact - My Website{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <section class="contact">
        <h2>Contact Me</h2>

        <!-- Flash Message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages">
              {% for category, msg in messages %}
                <p class="flash {{ category }}">{{ msg }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <!-- Contact Form -->
        <form method="POST" action="{{ url_for('contact') }}">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>

        <!-- Contact Info -->
        <div class="contact-info">
    
         
        </div>
    </section>

</body>
</html>
{% endblock %}